body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

/* Common styles */
.directional {
    height: 2em;
    width: 2em;
    
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(31, 30, 30), rgb(59, 58, 58));
}
/*Buttons*/
.multiControls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 10%;
    height: 6em;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 2em;

    border-radius: 100%;
    background-image: linear-gradient(to right, black, rgb(59, 58, 58));
    color: white;
    font-size: 1em; 
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);   
}
.rowCircle {
    width: 7em;
    display: flex;
    justify-content: space-around;
}
/*Square button*/
.square {
    margin-top: 1em;
    margin-left: 5em;
    height: 1.2em;
    width: 1.2em;
    background-color: black;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

/* SCREEN */
.screen {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 18.8em;
    width: 30em;
    background-color: black;
}
.gameArea {
    height: 16em;
    width: 27em;
    background-image: linear-gradient(to right, rgb(27, 27, 27), rgb(49, 49, 49));
}
.gameOn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/31Ko.gif);
    background-position: center;
    height: 16em;
}

/* LEFT CONTROLLER */
.leftControl {
    display: flex;
    flex-direction: column;

    height: 18.8em;
    width: 8em;

    background-color: lightseagreen;
    border-radius: 4em 0 0 4em;
    
    transition: 0.5s;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}
.leftControl:hover {
    transition: 0.5s;
    margin-bottom: 5em;
}
.dashL {
    margin-top: 0.8em;
    margin-left: 6em;
    width: 1.5em;
    height: 0.5em;
    background-color: black;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}
/*Joystick*/
.circleControl-L {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0.8em;
    margin-left: 2em;

    height: 3.5em;
    width: 3.5em;

    border-radius: 100%;
    background-image: linear-gradient(to right, black, rgb(34, 34, 34));
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

/*Arrow buttons*/
.arrowDown {
    width: 0;
    height: 0;

    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.5em solid rgb(53, 53, 53);
}
.arrowUp {
    width: 0;
    height: 0;

    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 0.5em solid rgb(53, 53, 53);
}
.arrowLeft {
    width: 0;
    height: 0;

    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 0.5em solid rgb(53, 53, 53);

    transform: rotate(30deg);
}
.arrowRight {
    width: 0;
    height: 0;

    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 0.5em solid rgb(53, 53, 53);

    transform: rotate(90deg);
}

/* RIGHT CONTROLLER */
.rightControl {
    display: flex;
    flex-direction: column;

    height: 18.8em;
    width: 8em;

    background-color: red;
    border-radius: 0 4em 4em 0;
   
    transition: 0.5s;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}
.rightControl:hover {
    transition: 0.5s;
    margin-bottom: 5em;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    margin-top: 0.8em;
    margin-left: 0.8em;

    height: 2em;
    width: 2em;
}
.dashR {
    width: 1.5em;
    height: 0.4em;

    background-color: black;

    top: 0.3em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}
.dashRR {
    position: relative;

    width: 1.5em;
    height: 0.4em;

    background-color: black;

    transform: rotate(90deg);
    bottom: 0.4em;
}
/*Joystick*/
.circleControl-r {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1em;
    margin-left: 2em;

    height: 3.5em;
    width: 3.5em;

    border-radius: 100%;
    background-color: black;   
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

/*Home Button*/
.circleHome {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0.8em;
    margin-left: 0.8em;

    height: 2em;
    width: 2em;

    border-radius: 100%;
    background-color: rgb(230, 2, 2);
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 1.2em;
    width: 1.2em;

    background-image: url(../img/home1.jpg);
    background-size: 1.7em;
    background-position: center;

    border-radius: 100%;
}
